.gallery {
  margin-top: 5rem;
  &-inner {
    @include maxWidth;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-transform: capitalize;
      font-size: 2rem;
      color: $color-main-3;
      font-style: italic;
      @include smallMq {
        font-size: 2.75rem;
      }
      @include mediumMq {
        font-size: 3.25rem;
      }
    }
    &-underline {
      height: 5px;
      width: 80vw;
      max-width: 200px;
      margin-top: -1.75rem;

      @include smallMq {
        margin-top: -2.75rem;
      }
      background-image: linear-gradient(
        to right bottom,
        #a0016b,
        #a3106d,
        #cf2992,
        #e738a6,
        #ff47bc
      );
    }
  }
  &-list {
    margin-top: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    @include smallMq {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediumMq {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-image{
    border-radius: 0.3rem;
    cursor: pointer;
    overflow: hidden;
  }
  &-link-wrapper{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  &-btn{
    @include mainBtn;
  }
}
