@mixin gradientText {
  background-image: linear-gradient(
    to right bottom,
    #a0016b,
    #a3106d,
    #cf2992,
    #e738a6,
    #ff47bc
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin maxWidth {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin link {
  text-decoration: none;
  color: $color-black-1;
  transition: color 0.2s linear;
  @if (color: $color-black-1) {
    &:hover,
    &:focus {
      color: lighten($color-black-1, 75);
    }
  }
}

@mixin btn {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.3rem;
  color: $color-black-1;
  @if (color: $color-black-1) {
    transition: color 0.3s linear;
    &:hover,
    &:focus {
      color: lighten($color-black-1, 35);
    }
  }
}

@mixin smallMq {
  @media screen and (min-width: $smallWidth) {
    @content;
  }
}

@mixin mediumMq {
  @media screen and (min-width: $mediumWidth) {
    @content;
  }
}

@mixin deskopMq {
  @media screen and (min-width: $deskopWidth) {
    @content;
  }
}

@mixin mainBtn {
  align-self: center;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  background-image: linear-gradient(
    to right bottom,
    #a0016b,
    #a3106d,
    #cf2992,
    #e738a6,
    #ff47bc
  );
  @include mediumMq() {
    font-size: 1.5rem;
  }
}
