@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

$color-main-1: #A0006A;
$color-main-2: #FF0084;
$color-main-3: #FF47BC;
$color-main-4: #FFB5FF;


// black  shades
$color-black-1: #101010;
$color-black-2: #242424;
$color-black-3: #363636;
$color-black-4: #4d4f54;
$color-black-5: #656565;

$color-white: #fafaff;

$smallWidth: 576px;
$mediumWidth: 800px;
$deskopWidth: 1100px;

$max-width:1366px;